/*
 * Copyright (c) 2021 DonPavlov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt { quick_tap_ms = <0>; };

/ {
   combos {
        compatible = "zmk,combos";
        combo_f {
            timeout-ms = <50>;
            key-positions = <0 4>;
            bindings = <&kp F>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mt LCTRL ESC   &kp C_VOL_DN &kp UP       &lt 1 C_VOL_UP
                &mt LSHFT SPACE &kp LEFT     &kp DOWN     &kp RIGHT
            >;
        };

        raise_layer {
            bindings = <
                &mt LCTRL TAB   &kp C_MUTE   &kp PG_UP    &trans
                &mt LSHFT RET   &kp HOME     &kp PG_DN    &kp END
            >;
        };
    };
};
